@import url('https://fonts.googleapis.com/css2?family=Rye&family=Trocchi&display=swap');


/* principal  */

.contiene-card2{
  display: flex;
   height: 100%;
    width: 100%;
    padding-top: 5em;
    padding-bottom: 5em;
}

#wrapper {
  width: 50%;
  height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 align-content: center;
}

@keyframes background {
  0% {transform:translateX(0px) translateY(0px);}
  100% {transform:translateX(-130px) translateY(0px);}

}

  /* imagen carta descripcion */
.productog{
width: 75%;
border-radius: 0 10% ;
box-shadow: 18px 20px 15px rgba(255, 255, 255, 0.764);

} 

/* contiene */
.contenido{

  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 0 2em 0 2em;
  

}

/* titulo */
.titulo{
    
    font-family: 'Rye', cursive;
    font-size:2.2em;
    text-shadow: 3px 1px #2e2e30;
    color: #d6ae4c;
    
}
/* precio */
.precio{
  color: #e7ad1a;
text-shadow: 5px 5px 6px rgb(255, 254, 254);
-webkit-text-stroke: 1px #000000; 
font-size: 2em;
font-family: 'Trocchi', serif;
}
/* subtitulo */
.subtitulo{
  text-shadow:4px 2px 5px  #ffffff;
  -webkit-text-fill-color:#000000fb;
  
   text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    font-family: 'Trocchi', serif;
    
    text-align: justify;
}

/* boton */

button {
  font-family: 'Trocchi', serif;
  font-size: 18px;
  color: #0000008c;
  outline: 0;
  cursor: pointer;
  transition: all 1s ease;
}
button:hover {
    color: #fff;
  transition: all 1s ease;
}
button:nth-child(1):hover {
 box-shadow:  0px 0px 2px #000;
   background: #684b24;
  text-shadow: 0 0px 0px transparent, 0 0 1px #d8ce3f, 0 0px 1px transparent, 0 0 0px #d8ce3f, 0 0 25px #d8ce3f, 0 0 0 #d8ce3f, 0 0 5px #d8ce3f, 0 0 6px #d8ce3f;
  }
 

 
button {
  font-family: 'Trocchi', serif;
  /* font-size: 25px; */
  font-weight: 1000;
  color: #0000008c;
  outline: 0;
  cursor: pointer;
  transition: all 1s ease;
}
button:hover {
    color: #fff;
  transition: all 1s ease;
}
button:nth-child(1):hover {
 box-shadow:  0px 0px 2px #000;
   background: #3f3528;
  text-shadow: 0 0px 0px transparent, 0 0 1px #d8ce3f, 0 0px 1px transparent, 0 0 0px #d8ce3f, 0 0 25px #d8ce3f, 0 0 0 #d8ce3f, 0 0 5px #d8ce3f, 0 0 6px #d8ce3f;
  }

 .carrito-ver{
  border-radius: 2px;
  color: #d6ae4c;
  background-color: rgb(0, 0, 0);
  border-color: #d6ae4c !important;
  border: solid 5px;
  width: 260px;
  height: 60px;
  
 }

.categoria{
color: #e7ad1a;
text-shadow: 5px 5px 6px rgb(255, 254, 254);
-webkit-text-stroke: 1px #000000; 
font-size: 2em;
font-family: 'Trocchi', serif;
}
.mcarrito-ver{
  margin-bottom: 2em;
}














