.content-aboutUs{
    padding-top: 3rem;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}
.title-aboutUs h1{
 color:#d6ae4c ;
}
.text-aboutUs .h3{
 
    text-align: center;
    width: 50%;
}
.img-aboutUs{
    display: flex;
    width: 50%;
}