:root {
  --surface-color: #fff;
  --curve: 30;
}
.product-mas {
background: white;
}
.card{
  position: relative;
  display: block;
  text-align: center;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
  display: flex;
justify-content: space-evenly;
background: white;
height: 20em;
width: 15em;
margin-left: 25%;


}

.card__image {    
  height: 100%;  
  object-fit: cover;
  object-position: 0px -30px;
  

}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(90%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-80%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #6A515E;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";  
  font-size: .8em; 
  color: #D7BDCA;  
}

.card__status {
  font-size: .8em;
  color: #D7BDCA;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #D7BDCA;
  font-family: "MockFlowFont";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}    

.card__header-text{
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  justify-content: center;
  align-items: center;
  
}


/*boton*/


 .carousel-ver{
  border-radius: 30px;
  color: #d6ae4c;
  background-color: rgb(0, 0, 0);
  border-color: #d6ae4c !important;
  border: solid 5px;
  width: 260px;
  height: 60px;
  
}

.card__description button:nth-child(3):hover {
 box-shadow:  0px 0px 2px #000;
   background: #282828;
  text-shadow: 0 0px 0px transparent, 0 0 1px #FFDC3E, 0 0px 1px transparent, 0 0 0px #FFDC3E, 0 0 25px #FFDC3E, 0 0 0 #FFDC3E, 0 0 5px #FFDC3E, 0 0 6px #FFDC3E;
}



