:root {
  --surface-color: #fff;
  --curve: 30;
}
.product-mas {
background: white;
}
.card{
  position: relative;
  display: block;
  text-align: center;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
  display: flex;
justify-content: space-evenly;
background: white;
height: 20em;
width: 15em;



}

.card__image {    
  height: 100%;  
  object-fit: cover;
  object-position: 0px -30px;
  

}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(90%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-80%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #6A515E;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";  
  font-size: .8em; 
  color: #D7BDCA;  
}

.card__status {
  font-size: .8em;
  color: #D7BDCA;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #D7BDCA;
  font-family: "MockFlowFont";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}    

.card__header-text{
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  justify-content: center;
  align-items: center;
  
}


/*boton*/

.control{
  display: flex;
  justify-content: center;
  align-items: center;
}
	


.card__description .btn{
	transform: translateY(0px);
	transition: 0.3s linear;
	background: white;
	border-radius: 5px;
  position: relative;
  overflow: hidden;
	cursor: pointer;
	outline: none;
	border: none;
	color: rgb(2, 2, 2);
	padding: 0;
	margin: 0;
	
}

.card__description .btn:hover{transform: translateY(-4px);}

.card__description .btn span {
	font-family: 'Trocchi', serif;
	transition: transform 0.3s;
	display: inline-block;
  padding: 10px 20px;
	font-size: 1.2em;
	margin:0;
  color: white;
	
}

.card__description button {
  font-family: 'Trocchi', serif;
  font-size: 18px;
  padding: 15px 25px;
  background-color: #363636;
  background: linear-gradient(#404040, transparent 155%);
  color: #0000008c;
  border-color: transparent;
  outline: 0;
  cursor: pointer;
  transition: all 1s ease;
}
.card__description button:hover {
    color: #fff;
  transition: all 1s ease;
}
.card__description button:nth-child(1):hover {
 box-shadow:  0px 0px 2px #000;
   background: #282828;
  text-shadow: 0 0px 0px transparent, 0 0 1px #d8ce3f, 0 0px 1px transparent, 0 0 0px #d8ce3f, 0 0 25px #d8ce3f, 0 0 0 #d8ce3f, 0 0 5px #d8ce3f, 0 0 6px #d8ce3f;
  }
  .card__description button:nth-child(2) {
  border-left: 1px solid #0000008c;
  border-right: 1px solid #0000008c;
}
.card__description button:nth-child(2):hover {
  border-left: 1px solid #0000008c;
  border-right: 1px solid #0000008c;
  box-shadow:  0px 0px 2px #000;
   background: #282828;
  text-shadow: 0 0px 0px transparent, 0 0 1px white, 0 0px 1px transparent, 0 0 0px white, 0 0 25px white, 0 0 0 white, 0 0 5px white, 0 0 6px white;
  
}

.card__description button:nth-child(3):hover {
 box-shadow:  0px 0px 2px #000;
   background: #282828;
  text-shadow: 0 0px 0px transparent, 0 0 1px #FFDC3E, 0 0px 1px transparent, 0 0 0px #FFDC3E, 0 0 25px #FFDC3E, 0 0 0 #FFDC3E, 0 0 5px #FFDC3E, 0 0 6px #FFDC3E;
}