.fondo-mostrarS .titulo-mostrarS{
    text-align: center;
    font-family: 'Rye', cursive;
    font-size:2em;
    text-shadow: 3px 1px #2e2e30;
    color: #d6ae4c;
}

 .subtitulo-mostrarS .p{
    font-family: 'Trocchi', serif;
    font-size: 1em;
    text-align: center;
}