<<<<<<< HEAD
:after {
	content: "";
}





.nav-barber{
   padding: 100px 0; 
 
  color: white;

	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
  line-height:1.4;
 /* font-smoothing: anti-aliased;  */
}

nav {
  float: left;
	position: relative;
	top: 0;
  left: 0;
	background: transparent;
}

.nav-barber ul {
	text-align: center;
	padding-left: 0;
}

nav ul li {
	position: relative;
  width: 70px;
  cursor: pointer;
	background: rgb(14, 13, 13);
	text-transform: uppercase;
	transition:all .4s ease-out;
}

nav ul li:after {
	position: absolute;
	background: white;
	color: rgb(10, 10, 10);
	top:0;
	left: 70px;
	width: 70px; height: 100%;
  opacity:.5;
  transform: perspective(400px) rotateY(90deg);
	transform-origin: 0 100%;
	transition:all .4s ease-out;
}

nav ul li:nth-child(1):after { 
	content: "Home";
	line-height: 88px;
}
nav ul li:nth-child(2):after { 
	content: "About";
	line-height: 88px;
}
nav ul li:nth-child(3):after { 
	content: "Services";
	line-height: 85px;
}
nav ul li:nth-child(4):after { 
	content: "Contact";
	line-height: 70px;
}

nav ul li:hover {
	transform: translateX(-70px);
	
}

nav ul li:hover:after {
  opacity: 1;
	transform: perspective(400px) rotateY(0deg) scale(1) ;
}


nav ul li > div {
	display: inline-block;
	padding: 25px 0;
	background: transparent;
}

nav ul li div { position: relative; }

.roof {
	width: 0;
	height: 0;
	top:2px;
	border-style: solid;
	border-width: 0 21px 15px 21px;
	border-color: transparent transparent #ffffff transparent;
}

.roof-edge {
	position: absolute;
	z-index: 20;
	left: -17px;
	top: 3px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 17px 12px 17px;
	border-color: transparent transparent #d6ae4c transparent;
}
/*white triangle over red triangle*/
.roof-edge:after {
	position: absolute;
	left: -14.5px;
	top: 3px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 14.5px 10px 14.5px;
	border-color: transparent transparent white transparent;
}

.front {
	position: relative;
	top: 3px;
	width: 28.5px;
	height: 20px;
	margin: 0 auto;
	background: white;
}
/*door*/
.front:after {
	position: absolute;
	background: #d6ae4c;
	width: 11px;
	height: 13px;
	bottom: 0;
	left:9px;
}

/*/// About me ////*/

.head {
	width: 32px;
	height: 35px;
	background: white;
	border-radius:8px;
}
/*mouth*/
.head:after {
	width: 4px;
	height: 10px;
	background: white;
	position: absolute;
	border-radius:4px 0 0 4px;
	top:21px;
	left: 14px;
	transform:rotate(270deg);
}

.eyes {
	width: 8px;
	height: 5px;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	left: 5px;
	background: #d6ae4c;
}
/*right eye*/
.eyes:after {
	width: 8px;
	height: 5px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 14px;
	background: #d6ae4c;
}

.beard {
	width: 32px;
=======

:root {
	--primColor: #fffbfb;
	--secoColor: #d6ae4c;
	--cornerRad: 4px;
  }
  body {
	background-color: var(--primColor);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
  }
  details {
	margin: 40px;
  }
  summary {
	writing-mode: vertical-lr;
	text-align: center;
	padding: 12px 10px;
	width: 23px;
>>>>>>> origin/KairaAbreu
	height: 17px;
	background-color: var(--primColor);
	border: 2px solid var(--secoColor);
	border-radius: var(--cornerRad);
	color: var(--secoColor);
	cursor: pointer;
	user-select: none;
	outline: none;
	transition: transform 200ms ease-in-out 0s;
  }
  summary::before,
  summary::after {
	position: static;
	top: 0;
	left: 0;
  }
  summary::before {
	content: "";
  }
  summary::after {
	content: "IIII";
	letter-spacing: -1px;
  }
  summary:hover {
	transform: scale(1.1);
  }
  summary::marker {
	font-size: 0;
  }
  summary::-webkit-details-marker {
	display: none;
  }
  details[open] .menu {
	animation-name: menuAnim;
  }
  details[open] summary::before {
	content: "X";
  }
  details[open] summary::after {
	content: "";
  }
  .menu {
	height: 0;
	width: fit-content;
	border-radius: var(--cornerRad);
	background-color: var(--primColor);
	box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
	margin-top: 8px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	animation: closeMenu 300ms ease-in-out forwards;
  }
  .menu a {
	padding: 12px 24px;
	margin: 0 16px;
	color: var(--secoColor);
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
	text-decoration: none;
	text-align: center;
	transition: filter 200ms linear 0s;
  }
  .menu a:nth-of-type(1) {
	padding-top: 24px;
  }
  .menu a:nth-last-of-type(1) {
	border-bottom: none;
  }
  .menu a:hover {
	filter: brightness(200%);
  }
  details::before {
	content: "MENU";
	color: var(--secoColor);
	position: absolute;
	margin-left: 80px;
	padding: 10px 10px;
	/* opacity: 0.4; */
  }
  details[open]::before {
	animation: fadeMe 300ms linear forwards;
  }
  @keyframes menuAnim {
	0% {
	  height: 0;
	}
	100% {
	  height: 312px;
	}
  }
  @keyframes fadeMe {
	0% {
	  opacity: 0.4;
	}
	100% {
	  opacity: 0;
	}
  }
  

  