
/* titulo */
.titulo1{
  margin-top: 7%;
    color: #d6ae4c;
    font-size: 70px;
    text-align: center;
    font-family: 'Rye', cursive;
    padding-left: 1.2em;
    /* margin-left: 30px; */
    text-shadow: 2px 8px 7px #1a1a1b;
    /* -webkit-text-stroke: 2px #d6ae4c; */
    /* margin-left: 2em;*/
}
.subtitulo1{

  margin-top: 230px;
  text-align: center;
  font-size: 30px;
  text-align: center;
  font-family: 'Trocchi', serif;
  font-weight: 1000;
  text-shadow: 4px 2px 5px #000000;
  -webkit-text-fill-color: #eecb03fb;
  -webkit-text-stroke: 0.4px #000000;
  margin-left: 20px;

}


/* linea */
.espacio{
  margin-top: 1em;
  width: 100%;
  height: 90px;
text-align: center;


}
.titulo-promo2{
 display: inline-table;
 position: relative;
 font-family: 'Trocchi', serif;
 font-size: 30px;
 color: rgb(0, 0, 0);
}
.titulo-promo2::after, .titulo-promo2::before{
  content: "";
  position: absolute;
  width: 120px;
  height: 4px;
  background-color:rgb(58, 53, 53) ;
  top: 0.4em;

}

.titulo-promo2::after{
  right: -140px;
}

.titulo-promo2::before{
  left: -140px;
 
}
.map-cartas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
     margin-bottom: 7%;
     padding-top: 4em;
   /* margin-top: 18%;   */
}
.map-cartas .card-carousel{
    
    padding:2em ;
}
.union-complet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

/* boton */

button {
  font-family: 'Trocchi', serif;
  font-size: 18px;
  color: #0000008c;
  outline: 0;
  cursor: pointer;
  transition: all 1s ease;
}
button:hover {
    color: #fff;
  transition: all 1s ease;
}
button:nth-child(1):hover {
 box-shadow:  0px 0px 2px #000;
   background: #684b24;
  text-shadow: 0 0px 0px transparent, 0 0 1px #d8ce3f, 0 0px 1px transparent, 0 0 0px #d8ce3f, 0 0 25px #d8ce3f, 0 0 0 #d8ce3f, 0 0 5px #d8ce3f, 0 0 6px #d8ce3f;
  }
 

 
button {
  font-family: 'Trocchi', serif;
  /* font-size: 25px; */
  font-weight: 1000;
  color: #0000008c;
  outline: 0;
  cursor: pointer;
  transition: all 1s ease;
}
button:hover {
    color: #fff;
  transition: all 1s ease;
}
button:nth-child(1):hover {
 box-shadow:  0px 0px 2px #000;
   background: #3f3528;
  text-shadow: 0 0px 0px transparent, 0 0 1px #d8ce3f, 0 0px 1px transparent, 0 0 0px #d8ce3f, 0 0 25px #d8ce3f, 0 0 0 #d8ce3f, 0 0 5px #d8ce3f, 0 0 6px #d8ce3f;
  }

 .producto-ver{
  border-radius: 30px;
  color: #d6ae4c;
  background-color: rgb(0, 0, 0);
  border-color: #d6ae4c !important;
  border: solid 5px;
  width: 260px;
  height: 60px;
  
 }
 /* video */
 .cover-container{
  height: 100;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.video{
  position: absolute;
  top: 0;
  
  /* left: 0; */
  /* width: 100%; */
  height: 656px;
  /* overflow: hidden; */
  /* object-fit: cover; */
  /* z-index: -2;*/
}


  