

/* fonts  */
@import url('https://fonts.googleapis.com/css?family=Abel|Aguafina+Script|Artifika|Athiti|Condiment|Dosis|Droid+Serif|Farsan|Gurajada|Josefin+Sans|Lato|Lora|Merriweather|Noto+Serif|Open+Sans+Condensed:300|Playfair+Display|Rasa|Sahitya|Share+Tech|Text+Me+One|Titillium+Web');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Mea+Culpa&family=Monsieur+La+Doulaise&family=Romanesco&family=The+Nautigal:wght@700&display=swap');

body {
background: #DFC2F2;
	background-image: url( https://t3.ftcdn.net/jpg/03/50/52/20/240_F_350522076_WxRXasOJSbxonsSpGizpjsTGBOuLdmU0.jpg);
	background-attachment: fixed;	
	background-size: cover;
	}

	/* VIDEO */
	/* .video-tx h1{
		padding-top: 3em;
		text-align: center;
		font-family: 'Rye', cursive;
		font-size:2em;
		text-shadow: 3px 1px #2e2e30;
		color: #d6ae4c;
	  }
	  .video-tx{
	  width: 75%;
		  position: relative;
		  left: 10%;
		  height: 25em;
		  margin-bottom: 10em;
	  }
	  .vid {
		height: 11em;
		 position: relative;
		 padding: 56.25%;
		 
		}
		.reac-player{
		  position: absolute;
		  top: 0;
		  left: 0;
		} */

		/* hasta aqui video */

#container{
	box-shadow: 0 0 10px  #fae3a8;
	background: #E5E4E2;
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 5em auto;
	height: 100%;
	width: 70%;
	
	
}
/* -------video-------- */
.cover-container{
	height: 100;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  
  }
  
  .video{
	position: absolute;
	top: 0;
	/* left: 0; */
	/* width: 100%; */
	height: 656px;
	/* overflow: hidden; */
	/* object-fit: cover; */
	/* z-index: -2;*/
  }

.gift-title h1{
	/* text-align: center;
        font-family: 'Rye', cursive;
        font-size:3em;
        text-shadow: 3px 1px #2e2e30;
        color: #fdfdfb;
		padding-top: 60px; */
	position: relative;
		margin-top: 6%;
    color: #d6ae4c;
    font-size: 90px;
    text-align: center;
    font-family: 'Rye', cursive;
    /* margin-left: 30px; */
    text-shadow: 2px 8px 7px #1a1a1b;
    /* -webkit-text-stroke: 2px #d6ae4c; */
    /* margin-left: 2em;*/
}
		


.gift-title h3{
	font-family: 'Trocchi', serif !important;
        /* color: rgba(252, 251, 247, 0.829);
        text-align: center; */
position: relative;
		margin-top: 120px;
  text-align: center;
  font-size: 30px;
  text-align: center;
  font-family: 'Trocchi', serif;
  font-weight: 1000;
  text-shadow: 4px 2px 5px #000000;
  -webkit-text-fill-color: #eecb03fb;
  -webkit-text-stroke: 0.4px #000000;
  margin-left: 20px;

}
.espacio{
	margin-top: 1em;
	width: 100%;
	height: 90px;
  text-align: center;
}
.titulo-promo2{
	display: inline-table;
	position: relative;
	font-family: 'Trocchi', serif;
	font-size: 30px;
	color: rgb(0, 0, 0);
   }
   .titulo-promo2::after, .titulo-promo2::before{
	 content: "";
	 position: absolute;
	 width: 120px;
	 height: 4px;
	 background-color:rgb(58, 53, 53) ;
	 top: 0.4em;
   
   }
   
   .titulo-promo2::after{
	 right: -140px;
   }
   
   .titulo-promo2::before{
	 left: -140px;
	
   }



/* -----------Cartas de Vales ----------- */
/* 	Product details  */
.product-details {
    /* background-image: url(../components/Imagen1/logo1.jpeg);
   justify-content: center; */
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 30px;
	height: 100%;
	float: left;
	width: 50%;

}

/* .imagenlogo{
    position: absolute;

} */


/* 	Product Name */
#container .product-details h1{
	font-family: 'Old Standard TT', serif;
	display: inline-block;
	position: relative;
	font-size: 34px;
	color: #344055;
	margin: 0;
	
}

#container .product-details h1:before{
	position: absolute;
	content: '';
	right: 0%; 
	top: 0%;
	transform: translate(25px, -15px);
	font-family: 'Farsan', cursive;
	display: inline-block;
	background: silver;
	border-radius: 5px;
	font-size: 14px;
	padding: 5px;
	color: #FFF;
	margin: 0;
	animation: chan-sh 6s ease infinite;

}


@keyframes chan-sh {
	from  {content: 'free shipping';}
	to  {content: 'New';}
	
}

/*Product Rating  */
.hint-star {
	display: inline-block;
	margin-left: 0.5em;
	color: gold;
	width: 50%;
}


/* The most important information about the product */
#container .product-details > p {
	font-family: 'Farsan', cursive;
	text-align: center;
	font-size: 20px;
	color: #7d7d7d;
	
}

/* control */


/* the Button */
.btn {
	transform: translateY(0px);
	transition: 0.3s linear;
	background: silver;
	border-radius: 5px;
  position: relative;
  overflow: hidden;
	cursor: pointer;
	outline: none;
	border: none;
	color: #eee;
	padding: 0;
	margin: 0;
	
}

.btn:hover{transform: translateY(-4px);}

.btn span {
	font-family: 'Farsan', cursive;
	transition: transform 0.3s;
	display: inline-block;
  padding: 10px 20px;
	font-size: 1.2em;
	margin:0;
	
}
/* shopping cart icon */
.btn .price, .shopping-cart{
	background: #333;
	border: 0;
	margin: 0;
}

.btn .price {
	transform: translateX(-10%); padding-right: 15px;
}

/* the Icon */
.btn .shopping-cart {
	transform: translateX(-100%);
  position: absolute;
	background: #333;
	z-index: 1;
  left: 0;
  top: 0;
}

/* buy */
.btn .buy {z-index: 3; font-weight: bolder;}

.btn:hover .price {transform: translateX(-110%);}

.btn:hover .shopping-cart {transform: translateX(0%);}



/* product image  */
.product-image {
	transition: all 0.3s ease-out;
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 100%;
	float: right;
	width: 50%;
	display: inline-block;
}

.product-image img {
	width: 100%;
	height: 100%;
}

.info {
    background: rgba(27, 26, 26, 0.9);
    font-family: 'Farsan', cursive;
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.9;
    text-align: left;
    font-size: 120%;
    cursor: no-drop;
    color: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.info h2 {text-align: center}
.product-image:hover .info{transform: translateX(0);}

.info ul li{transition: 0.3s ease;}
.info ul li:hover{transform: translateX(50px) scale(1.3);}

.product-image:hover img {transition: all 0.3s ease-out;}
.product-image:hover img {transform: scale(1.2, 1.2);}





