

.video-tx h1{
  text-align: center;
  font-family: 'Rye', cursive;
  font-size:2em;
  text-shadow: 3px 1px #2e2e30;
  color: #d6ae4c;
}
.vid {
 
   position: relative;
   padding: 56.25%;
   
  }
  .reac-player{
    position: absolute;
    top: 0;
    left: 0;
  }