

@import url('https://fonts.googleapis.com/css2?family=Rye&family=Trocchi&display=swap');

.slider {
    background: white;
    height: 250px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 1140px;
}

.slider::before, .slider::after {
    background: linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100%;
    position: absolute;
    width: 100px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    animation: scroll 80s linear infinite;
    display: flex;
    width: calc(250px * 18);

}

.slider .slide-track:hover {
    animation-play-state: paused;
}

.slider .slide {
    height: 250px;
    width: 250px;
}


.slide:nth-child(1), .slide:nth-child(10) {
    background-color: yellow;
    background: url(../imagenes/fondocarta.jpg);
}

.slide:nth-child(2), .slide:nth-child(11) {
    background-color: coral;
}

.slide:nth-child(3), .slide:nth-child(12) {
    background-color: blue;
}

.slide:nth-child(4), .slide:nth-child(13) {
    background-color: red;
}

.slide:nth-child(5), .slide:nth-child(14) {
    background-color: orange;
}

.slide:nth-child(6), .slide:nth-child(15) {
    background-color: purple;
}

.slide:nth-child(7), .slide:nth-child(16) {
    background-color: pink;
}

.slide:nth-child(8), .slide:nth-child(17) {
    background-color: navy;
}

.slide:nth-child(9), .slide:nth-child(18) {
    background-color: lime;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 9));
    }
}
*{
    padding: 0;
    margin: 0;
}
.contieneCartas{
    margin-top: 30px;
    width: 1120px;
    height: 100%;
    display: flex;
position: relative;
justify-content: center;
margin-left: 10%;
}

.img{
     height: 200%;
    width: 200%; 
    filter: none;
  transform: scaleY(1);
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 200ms ease-in;
  filter: grayscale(1) opacity(.8);
}
:hover::before {
  content: '';
  width: inherit;
  height: 42%;
  position: absolute;
  bottom: -25%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, .9),rgba(255, 255, 255, .5));
  z-index: 1;
}
.titulo{
    padding-left: 90%;
    color: black;
    font-size: 90px;
    text-align: center;
    font-family: 'Rye', cursive;
}
.subtitulo{

   text-align: center;
    font-size: 18px;
    text-align: center;
    font-family: 'Trocchi', serif;
}
/* the Button */
.control{
	position: absolute;
	bottom: 20%;
	left: 70%;
	
}

.btn {
	transform: translateY(0px);
	transition: 0.3s linear;
	background: silver;
	border-radius: 5px;
  position: relative;
  overflow: hidden;
	cursor: pointer;
	outline: none;
	border: none;
	color: #eee;
	padding: 0;
	margin: 0;
	
}

.btn:hover{transform: translateY(-4px);}

.btn span {
	font-family: 'Farsan', cursive;
	transition: transform 0.3s;
	display: inline-block;
  padding: 10px 20px;
	font-size: 1.2em;
	margin:0;
	
}

