.nav-link-signin{
    position: fixed;
    top: 3%;
    right: 1em;
    font-size: 3em;
    color: #f6f4ef;
}

.logueado{
    position: fixed;
    top: 1.5em;
    right: 1.5em;
    height: 5em;
    background-color: #dea515;
    
    width: 5em;
    border-radius: 150px;
}