.nav-link-signin{
    position: fixed;
    top: 3%;
    right: 1em;
    font-size: 3em;
}

.logueado{
    position: fixed;
    top: 1em;
    right: 1em;
    height: 5em;
    background-color: white;
    box-shadow: inset 0 0 5px black;
}