
.contenedor {
   display:flex;
     grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem))!important;
     gap: 1.5rem;
     margin-top: 30px;
    justify-content: center;
}
 .carta-container{
     margin-top: 58px;
    
}
.carta{
    
grid-template-columns: repeat(2, minmax(18rem, 20rem)); 
width: 360px;
height: 400px;
position: relative;
display: flex;
justify-content: center;
cursor: pointer;
}
.carta-header,
.carta-footer{
    width: 100%;
height: 20%;
position:absolute;
margin-bottom: 5px;padding: 7px 10px;
display: flex;align-items: center;
background:#000000;
backdrop-filter:blur(10px);
border-radius: 10px;
transform: translateY(-20px);
opacity: 0;transition: all 0.4s;
}
.carta-header{
    top: -30px;
    box-shadow: 0 -20px 20px rgba(109, 72, 13, 0.089)
    , 0 10px 20px rgba(255, 250, 250, 0.792);

}
.carta-header div{ padding-left: 40%;
}
.carta-header div p:nth-child(1){
   margin-top:8%;
    font-weight: bold;
color: white; 
font-family: 'Trocchi', serif;

}
.carta-header div p:nth-child(2){
    font-size: 15px;
    font-weight: bold;
color: rgb(231, 208, 63);
}
.carta-header img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
}
.carta-body{
    width: 300px;
}
.carta-body img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
box-shadow: 9px 12px 23px rgba(3, 2, 1, 0.795);

}
.carta-footer{
    padding: 12px 0;
    justify-content: space-evenly;
    bottom: -20px;
    box-shadow: 0 -10px 20px rgba(248, 248, 248, 0.874),0 20px 20px rgba(0, 0, 0, 0.162);
transform: translateY(20px);
transition: all 0.4s;
opacity: 0;
}
.carta:hover .carta-footer,.carta:hover .carta-header{
    transform: translateY(0px);
    opacity: 1;
}
.carta-footer i{
    color: rgb(255, 255, 255);
    text-shadow: inset 0 0 10px #F1B05E;
} 

