<<<<<<< HEAD

body{
   background-image:url( https://us.123rf.com/450wm/naropano/naropano1606/naropano160600509/58727522-textura-de-fondo-oscuro-en-blanco-para-el-dise%C3%B1o-bordes-oscuros.jpg);
}
.App {
  text-align: center;
  margin: none;
  padding: none;
}

=======
>>>>>>> origin/KairaAbreu
